<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 300px;">
    <div class="card-header">
      Reactive Form Example
    </div>
    <div class="card-body">
      <form (ngSubmit)="save()" [formGroup]="userForm">
        <div class="form-group">
          <input type="text" 
            class="form-control" 
            placeholder="username"
            formControlName="username">
            <div *ngIf="(userForm.get('username').touched || userForm.get('username').dirty) && !userForm.get('username').valid">
              <small *ngIf="userForm.get('username').errors.required">How do we identify without this?</small>
              <small *ngIf="userForm.get('username').errors.minlength">I have never seen such a short name</small>
              <small *ngIf="userForm.get('username').errors.name">Uh! Ah! You can't use my Name</small>
            </div>
            
        </div>
        <div class="form-group">
          <input type="text" 
            class="form-control" 
            placeholder="email"
            formControlName="email">
            <div *ngIf="(userForm.get('email').touched || userForm.get('email').dirty) && !userForm.get('email').valid">
              <small *ngIf="userForm.get('email').errors.required">We can stay in touch if you provide this</small>
              <small *ngIf="userForm.get('email').errors.pattern">It doesn't seem like email. Pls don't cheat us</small>
            </div>
        </div>
        <div class="form-group">
          <input type="password" 
            class="form-control"
            placeholder="password"
            formControlName="password">
            <div *ngIf="(userForm.get('password').touched || userForm.get('password').dirty) && !userForm.get('password').valid">
              <small *ngIf="userForm.get('password').errors.required">I can see your details without this.</small>
              <small *ngIf="userForm.get('password').errors.minlength">We need more characters to be secured</small>
            </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>

