<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 300px;">
    <div class="card-header">
      Reactive Form Example
    </div>
    <div class="card-body">
      <form (ngSubmit)="save()" [formGroup]="userForm">
        <div class="form-group">
          <input type="text" 
            class="form-control" 
            placeholder="username"
            required
            minlength="3"
            formControlName="username">
            <small *ngIf="(userForm.get('username').touched || userForm.get('username').dirty) && !userForm.get('username').valid">It has errors</small>
        </div>
        <div class="form-group">
          <input type="text" 
            class="form-control" 
            placeholder="email"
            formControlName="email">
            <small *ngIf="(userForm.get('email').touched || userForm.get('email').dirty) && !userForm.get('email').valid">It has errors</small>
        </div>
        <div class="form-group">
          <input type="password" 
            class="form-control"
            placeholder="password"
            formControlName="password">
            <small *ngIf="(userForm.get('password').touched || userForm.get('password').dirty) && !userForm.get('password').valid">It has errors</small>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>

